<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teams Maker</title>
    <script src="/static/js/htmx.min.js"></script>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link href="/static/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <div>
      <h1><a href="/">Teams Maker</a></h1>
      <a href="/teams/names-providers">Names providers</a>
    </div>
    <div>{% block main_content %}{% endblock %}</div>
  </body>
</html>
